@keyframes fadeIn {
    0% { 
        opacity: 0;
        border-radius: 100%/1%;
        width: 0;
        height: 0;
    }
    40% {
        height: 100%;
    }
    100% { 
        opacity: 0.5; 
        border-radius: 0;
        width: 100%;
        
    }
}
@keyframes fadeOut {
    0% { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    40% {
        /* height: 100%; */
    }
    100% { 
        /* opacity: 0; 
        border-radius: 100%/1%;
        width: 0;
        height: 0; */
    }
}
.on-click-effect-fade-in {
    animation: fadeIn 0.2s forwards;
    border: 0;
}
.on-click-effect-fade-out {
    animation: fadeOut 0.2s reverse;
    border: 0;
}
