#choose-mode-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}