#plan-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 4em;
}
#plan-wrapper .monthly-price {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#plan-wrapper .plan-offers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
#plan-wrapper .plan-offers img {
    width: 1.6em;
}